{extend name="layout/dialog" /}
{block name='content'}
<form class="form-horizontal dialog-form" role="form" data-toggle="validator" method="POST" action="">
    {if isset($company_info)}
    <input type="hidden" name="id" value="{$company_info['id']}">
    {/if}
    <div class="container">
        <section class="content">
            <div class="form-group">
                <label for="company_name" class="col-xs-10 col-sm-2">{:__('公司名称')}:</label>
                <div class="col-xs-10 col-sm-8">
                    <input type="text" class="form-control" id="company_name" name="company_name" value="{if isset($company_info)}{$company_info['company_name']}{/if}" data-rule="required"/>
                </div>
            </div>
        </section>
    </div>
    <div class="layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed "> 确定提交</button>
            <button type="reset" class="btn btn-default btn-embossed"> 重置</button>
        </div>
    </div>
</form>
{/block}