<!DOCTYPE html>
<html lang="{$config.language}">
<head>
    <!-- 加载样式及META信息 -->
    {include file="common/meta" /}
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0);"><b>FMS </b>
            <small class="text-xs">Beta</small>
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form id="loginForm" action="{:url('/index/login/check')}" login-action="{:url('/index/login', ['url' => $url])}" method="post">
            {:token()}
            <div class="usernamelogin">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="pd-form-username" placeholder="{:__('Username')}" name="username" autocomplete="off" value=""
                           data-rule="required;"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="pd-form-password" placeholder="{:__('Password')}" name="password" autocomplete="off" value=""
                           data-rule="{:__('Password')}:required;password"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
            </div>
            <div class="smslogin form-group" style="display: none;">
                <div class="input-group">
                    <input type="text" class="form-control" id="pd-form-sms" placeholder="{:__('Sms Captcha')}" name="smscode" autocomplete="off"/>
                    <span class="input-group-addon" style="padding:5px 12px;">
                        <input type="button" sendurl="{:url('/index/login/sendsms')}" class="sendsms btn btn-xs" value="重新获取">
                    </span>
                </div>

            </div>
            {if $config.app.login_captcha}
            <div class="form-group has-feedback clearfix" style="margin-bottom:0px;">
                <input type="text" id="pd-form-captcha" name="captcha" class="form-control" placeholder="Captcha" data-rule="required;" style="width:50%;float:left">
                <span class="input-group-addon" style="padding:0;border:none;cursor:pointer;float:left;">
                    <img src="/captcha" id="img-captcha" onclick="this.src = '/captcha?r=' + Math.random();"/>
                </span>
                <span class="msg-box n-right" style="float: right" for="pd-form-captcha"></span>
            </div>
            {/if}
            <div class="social-auth-links text-center">
                <p>- TO -</p>
                <button type="submit" id="submit" class="btn bg-purple btn-block btn-flat">Sign In</button>
            </div>
            <div class="alert alert-warning alert-dismissible margin-top10">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="fa fa-fw fa-thumbs-o-down"></i><span> Please enter your name and password</span></div>

        </form>
    </div>
    <div class="lockscreen-footer text-center">
        Copyright &copy; 2018-2025 <b>Jeoshi</b><br>
        All rights reserved
    </div>
    <!-- /.login-box-body -->
</div>
<!-- 加载JS脚本 -->
{include file="common/script" /}
<script src="__CDN__/assets/dist/js/login.js"></script>
</body>
</html>
