{extend name="layout/dialog" /}
{block name='content'}
<form id="add-form" class="form-horizontal dialog-form" role="form" data-toggle="validator" method="POST" action="{:url('/index/auth/group/edit', [$row.id])}">
    <input type="hidden" name="row[rules]" value="{$row.rules}" />
    <input type="hidden" name="row[pid]" value="{$row.pid}" />
    <section class="content">
        <div class="form-group">
            <div class="col-xs-12 col-sm-12">
                <span class="text-muted"><input type="checkbox" name="" id="checkall" /> <label for="checkall"><small>{:__('Check all')}</small></label></span>
                <span class="text-muted"><input type="checkbox" name="" id="expandall" /> <label for="expandall"><small>{:__('Expand all')}</small></label></span>

                <div id="treeview" class="small"></div>
            </div>
        </div>
    </section>
    <div class=" layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed ">{:__('确定提交')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('重置')}</button>
        </div>
    </div>
</form>
{/block}
{block name="js"}
<script type="text/javascript">
    var content = {:json_encode($nodeList)};
    //销毁已有的节点树
    $("#treeview").jstree("destroy");
    fms.api.rendertree(content);


</script>
{/block}
