{extend name="layout/default" /}
{block name='content'}
<div class="container">
    {include file="common/map" /}
    <!-- Main content -->
    <section class="content">
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <button type="button" class="btn btn-sm btn-refresh"><i class="fa fa-refresh"></i></button>
                {if $auth->check('index/auth/rule/add')}
                <button type="button" class="btn bg-purple btn-sm btn-dialog" href="{:url('/index/auth/rule/add')}" title="{:__('添加菜单')}"><i
                        class="fa fa-plus-circle"></i> {:__('添加菜单')}
                </button>
                {/if}
                <button type="button" class="btn bg-orange btn-sm btn-ajax" href="{:url('/index/auth/rule/clear')}"><i class="fa fa-fw fa-spinner"></i>{:__('更新缓存')}</button>
            </div>

            <div class="box-body">
                <table id="table" class="table table-bordered table-hover" width="100%">
                    <head>
                        <tr>
                            <th class="text-center">ID</th>
                            <th>标题</th>
                            <th>图标</th>
                            <th>请求地址</th>
                            <th class="text-center">权重</th>
                            <th>状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </head>
                    <tbody>
                    {foreach $rulelist as $val}
                    {if $val.ismenu == 1}
                    <tr>
                        <td class="text-center">{$val.id}</td>
                        <td>{$val.title}</td>
                        <td><span><i class="{$val.icon}"></i></span></td>
                        <td>{$val.name}</td>
                        <td class="text-center">{$val.weigh}</td>
                        <td>
                            {if $val.status == 1}
                            <span class="text-success"><i class="fa fa-circle"></i> 正常</span>
                            {else}
                            <span class="text-danger"><i class="fa fa-circle"></i> 禁用</span>
                            {/if}
                        </td>
                        <td class="text-center">
                            {if $auth->check('index/auth/rule/edit')}
                            <button type="button"
                                    class="btn btn-success btn-edit btn-dialog btn-xs"
                                    title="{:__('编辑')}"
                                    href="{:url('/index/auth/rule/edit', [$val.id])}"><i class="fa fa-pencil"></i> {:__('编辑')}
                            </button>
                            {/if}
                            {if $auth->check('index/auth/rule/del')}
                            <button type="button"
                                    class="btn btn-danger btn-edit btn-ajax btn-xs"
                                    options="{confirm:'确定要删除此菜单吗？'}"
                                    title="{:__('删除')}"
                                    href="{:url('/index/auth/rule/del', [$val.id])}"><i class="fa fa-trash"></i> {:__('删除')}
                            </button>
                            {/if}
                        </td>
                    </tr>
                    {/if}
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
{/block}